[init]
	defaultBranch = main
[user]
	name = Hieu Cao
	email = hieu.0479@enotion.io
[core]
	ignorecase = false
	editor = code --wait
	excludesfile = /Users/fe-hieu/.gitignore_global
	autocrlf = input
	pager = delta
[alias]
	adog = log --all --decorate --oneline --graph
	rank = shortlog -sn --no-merges
	last = log -1 HEAD --stat
	co = checkout
	st = status
	br = branch
	cm = commit -m
	rv = remote -v
	new = co -b
	del = br -D
	cp = cherry-pick
	clear = clean -dfX
	subclone = submodule update --init
	subeach = submodule foreach
	subco = subeach git co
	subpull = subeach git pull -p
	forcebr = "!f() { git br -f $1 HEAD; }; f"
	squash = "!f() { git rebase -i HEAD~$1; }; f"
	sq = squash
	ours = "!f() { git co --ours $@ && git add $@; }; f"
	theirs = "!f() { git co --theirs $@ && git add $@; }; f"
	undo = "!f() { git reset --soft HEAD~$1; }; f"
	back = "!f() { git reset --hard HEAD~$1; }; f"
	rs = "!f() { git reset .; git clean -f .; git restore .; }; f"
	slist = stash list
	ssave = stash save
	sapply = stash apply
	spop = stash pop
	sdrop = stash drop
	sclear = stash clear
	parent = "!git show-branch | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//' #"

[mergetool]
	prompt = true
	keepBackup = false
    keepTemporaries = false
[difftool]
	prompt = true

[merge]
	tool = vscode
	conflictStyle = zdiff3
[diff]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait --merge $LOCAL $REMOTE $BASE $MERGED
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[commit]
	template = /Users/user/.stCommitMsg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
